<% layout("layouts/boilerplate") %>

    <div class="row mb-3 mt-3">
        <div class="col-md-6">
            <div id="photoCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <% photo.images.forEach((img, index)=> { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <img src="<%= img.url%>" class="img-fluid w-75" style="height: 30vw; object-fit: cover;"
                                alt="...">
                        </div>
                        <% }) %>
                </div>
                <% if(photo.images.length> 1) { %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= photo.name %>
                    </h5>
                    <p class="card-text">
                        <%= photo.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= photo.location %>
                    </li>
                    <li class="list-group-item">
                        Author: <%= photo.userID.username[0].toUpperCase() + photo.userID.username.slice(1) %>
                    </li>
                </ul>
                <div class="card-footer text-muted">
                    Posted: <%= photo.dateCaptured %>
                </div>
            </div>
            <% if(user && photo.userID.equals(user)) { %>
                <div class="card-body">
                    <a href="/photos/<%=photo._id%>/edit" class="card-link btn btn-primary">Edit</a>
                    <form class="d-inline" method="POST" action="/photos/<%=  photo._id %>?_method=DELETE">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% }%>
        </div>
        <div class="col-md-6">
            <% if(user) { %>
                <form class="mb-5 needs-validation" action="/photos/<%= photo._id %>/reviews" method="POST" novalidate>
                    <div>
                        <h2>Leave a review</h2>
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review text</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% }%>
                    <% photo.reviews.forEach(el=> { %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= el.author.username[0].toUpperCase() + el.author.username.slice(1) %>
                                </h5>
                                <p class="starability-result" data-rating="<%= el.rating %>">
                                    Rated: <%= el.rating %> stars
                                </p>
                                <p class="card-text">
                                    Review: <%= el.body %>
                                </p>

                                <% if (user && user.equals(el.author)) { %>
                                    <form action="/photos/<%= photo._id %>/reviews/<%= el._id %>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                            <div class="card-footer text-muted">
                                Posted: <%= el.date %>
                            </div>
                        </div>
                        <% }) %>
        </div>
    </div>